insert_final_newline = true

[*.sqf]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.hpp,*.cpp]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.rs]
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
