[package]
name = "synixe-docker"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
bootstrap = { path = "../../lib/bootstrap", features = ["nats"] }
synixe-events = { path = "../../lib/events" }
synixe-meta = { path = "../../lib/meta" }
synixe-model = { path = "../../lib/model", features = ["missions"] }
synixe-proc = { path = "../../lib/proc" }

anyhow = { workspace = true }
async-trait = { workspace = true }
bollard = "0.19.4"
nats = { workspace = true }
regex = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tracing = { workspace = true }
