[package]
name = "synixe-executor"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
bootstrap = { path = "../../lib/bootstrap", features = ["nats"] }
synixe-events = { path = "../../lib/events" }
synixe-meta = { path = "../../lib/meta" }
synixe-proc = { path = "../../lib/proc" }
synixe-model = { path = "../../lib/model" }

anyhow = { workspace = true }
async-trait = { workspace = true }
nats = { workspace = true }
reqwest = { workspace = true }
serenity = { workspace = true, features = ["builder"] }
time = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tokio-simple-scheduler = "0.1.2"
tracing = { workspace = true }

# recruiting
roux = "2.2.15"
rust-embed = "8.9.0"
scraper = "0.25.0"
